(
    cursor_delay: 0.1,
    cursor_speed: 4.0,
    game_over_delay: 3.0,
    game_over_distance: 150.0,
    cursor_distance: 350.0,
    bigest_spawnable_planet_index: 2,
    planets: [
        (
            name: "moon",
            size: 30.0,
            score: 2,
        ),
        (
            name: "earth",
            size: 37.0,
            score: 3,
        ),
        (
            name: "mars",
            size: 47.0,
            score: 4,
        ),
        (
            name: "snow",
            size: 60.0,
            score: 8,
        ),
        (
            name: "toxic",
            size: 75.0,
            score: 16,
        ),
        (
            name: "lava",
            size: 95.0,
            score: 32,
        ),
    ],
    second_set: None,
    black_hole: Some((
            name: "blackhole",
            size: 80.0,
            score: 32,
        )),
)